@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body{
    background-color:#182931!important;
    color:#fff!important;
    font-family:montserrat,sans-serif;
}

.btn {
    background-color:#c4ad9f !important;
    font-weight: 600 !important;
    color:#4A453D !important;
    box-shadow: 4px 4px 10px #4A453D;
    cursor:pointer;
}

.btn .download-cv{
    color: #fadfce;
    animation: showUp 0.7s forwards !important;
    animation-delay: 1.6s !important;;
    opacity:0 !important;;
    transform: translateY(20px) !important;;

}
/** header section **/

.header .navbar .logo h2{
    font-size: 2.5rem !important;

}

.header .navbar .logo h2 span{
    color:#c4ad9f !important;
    text-shadow:1px 1px 3 px #fff !important;
}

.logo h2{
    animation: showUp 0.7s forwards;
    animation-delay: 0.3s;
    opacity:0;
    transform: translateY(20px);
}

.header .navbar .menu-navbar{
    width: 40vw;
    display: flex;
    justify-content: space-around !important;
    list-style: none; 
}

.header .navbar .menu-navbar li a{

    text-decoration:none;
    color:white;
    transition:0.25s;

}

.header .navbar .menu-navbar li {

    animation: showUp 0.7s forwards;
    animation-delay: 0.3s;
    opacity:0;
    transform: translateY(20px);
}

.header .navbar .menu-navbar li a:hover{

    text-decoration:none;
    color:#9B8171;
  
}

.header .navbar .menu-navbar li .activo{

  
    color:#9B8171;
   
}


/* main section*/

.main-content{
display:grid;
grid-template-columns: 4fr 4fr;
gap:2rem;
align-items: center;
}

.hello-text{
    animation: showUp 0.7s forwards;
    animation-delay: 1s;
    opacity:0;
    transform: translateY(20px);
}

.name-text{
    color: #c4ad9f;
    font-weight: bold;
    font-size: 50px;
    animation: showUp 0.7s forwards;
    animation-delay: 1.2s;
    opacity:0;
    transform: translateY(20px);
}

.pro{
    color: #c4ad9f;
    font-weight: bold;
    font-size: 50px;
    animation: showUp 0.7s forwards;
    animation-delay: 2.2s;
    opacity:0;
    transform: translateY(20px);
}

.role-text{
    color: #fff !important;
    animation: showUp 0.7s forwards;
    animation-delay: 1.4s;
    opacity:0;
    transform: translateY(20px);
}



.main-content .img-container img{
    width:30vw;
}

.foto{
    animation:
    showRight 2s ease forwards,
    bouncing 3s ease-in-out alternate-reverse infinite;
    animation-delay:2s;
    opacity:0;
    margin-left: -20px;

}

.info{
    background-color: #c4ad9f !important;
    animation: showUp 0.7s forwards;
    animation-delay: 2.1s;
    opacity:0;
    transform: translateY(20px);
}

.info a{
    text-decoration: none;
    color: #874739;
    font-size: 20px;
    font-weight: 600;
    
}
.card-links{

    text-align: center !important;
}

.info h1{
    text-decoration: none;
    color: #4A453D;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.main-content .bio .role-text{
    font-size: 1rem;
}

.formulario{
    background-color: #182931!important;
    padding-top: 1rem;
    animation: showUp 0.7s forwards;
    animation-delay: 2.3s;
    opacity:0;
    transform: translateY(20px);
}

/*footer*/

.footer-section .footer-content {
    padding:10px 50px;
    font-size: 5px !important;
    animation: showUp 0.7s forwards;
    animation-delay: 2.5s;
    opacity:0;
    transform: translateY(20px);
}

.footer-section .socialmedia a i{
    font-size: 2rem  !important;
    color: #9B8171;
    cursor:pointer;
    transition: 0.25s;
}

.footer-section .socialmedia a i:hover{
    font-size: 20px  !important;
    color: #fadfce;
    cursor:pointer;
    margin-top:-10px;
}


/*animacion*/

@keyframes showUp{
    to {
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes showRight{
    to{
        opacity:1;
        margin-left: 0px;
    }

}

@keyframes bouncing{
    from{
        transform: translateY(0px);
    }to {
        transform: translateY(20px);
    }
}